@font-face {
  font-family: Madimi;
  src: url("../fonts/MadimiOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Madimi;
  text-transform: uppercase;
  cursor: default;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #31363F;
}

*::-webkit-scrollbar-track:hover {
  background-color: #31363F;
}

*::-webkit-scrollbar-track:active {
  background-color: #31363F;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #76ABAE;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #60888a;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #60888A;
}

.songPlaying {
  color: #76ABAE;
}

.clearBtn {
  background-color: transparent;
  border: none;
}

body {
  height: 100vh;
  background-color: #222831;
  padding: 10px;
  overflow: hidden;
}

.importSongsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsContainer {  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settingsHeader h3 {
  font-weight: normal;
  text-align: center;
}

.selectSongsBtn {
  color: #EEEEEE;
  font-size: 32px;
  cursor: pointer;
  transition: .2s;
}

.selectSongsBtn:hover {
  color: #76ABAE;
}

#audioList {
  position: absolute;
  top: -999px;
  left: -999px;
  visibility: hidden;
}

#playlist {
  border: 1px solid #31363F;
  overflow-y: scroll;
  height: 500px;
  margin: 5px 0;
  padding: 3px;
  border-radius: 3px;
  color: #EEEEEE;
}

#currentSongPlaying {
  text-align: center;
  color: #EEEEEE;
  margin-bottom: 5px;
}

#currentSongPlaying span {
  color: #76ABAE;
}

.controls {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.controlBtn {
  cursor: pointer;
  color: #EEEEEE;
  display: flex;
  transition: .2s;
}

.controlBtn img {
  cursor: pointer;
}

.controlBtn:hover {
  opacity: .7;
}

#progressBar {
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #EEEEEE;
}

.song {
  cursor: pointer;
  transition: .2s;
}

.song:hover {
  opacity: .7;
}

.lyric {
  text-align: center;
  display: none;
}

.checkContainer {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #222831;
  background-color: #31363F;
  margin: auto 40px;
  padding: 5px;
  border-radius: 10px;
}

.checkContainer p {
  margin-right: 10px
}

.check {
 position: relative;
 background-color: #76ABAE;
 line-height: 0;
 font-size: 25px;
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after {
 appearance: none;
 display: inline-block;
 font-size: inherit;
 border-radius: 1em;
 border: 0;
 transition: .35s ease-in-out;
 box-sizing: border-box;
 cursor: pointer;
}

.check {
 appearance: none;
 display: inline-block;
 border-radius: 1em;
 border: 0;
 transition: .35s ease-in-out;
 box-sizing: border-box;
 cursor: pointer;
}

.check label {
 width: 2.2em;
 height: 1em;
 background: #d7d7d7;
 overflow: hidden;
}

.check input[type="checkbox"] {
 position: absolute;
 z-index: 1;
 width: .8em;
 height: .8em;
 top: .1em;
 left: .1em;
 background: linear-gradient(45deg, #dedede, #ffffff);
 box-shadow: 0 6px 7px rgba(0,0,0,0.3);
 outline: none;
}

.check input[type="checkbox"]:checked {
 left: 1.3em;
}

.check input[type="checkbox"]:checked + label {
 background: transparent;
}

.check label::before,
.check label::after {
 content: "";
 position: absolute;
 overflow: hidden;
 left: .50em;
 top: .5em;
 height: 1em;
 letter-spacing: -.04em;
 color: #9b9b9b;
 font-family: "Times New Roman", serif;
 z-index: 2;
 font-size: .6em;
 border-radius: 0;
 transform-origin: 0 0 -.5em;
 backface-visibility: hidden;
}

.check label::after {
 content: "";
 top: .65em;
 left: .6em;
 height: .1em;
 width: .35em;
 font-size: .2em;
 transform-origin: 0 0 -.4em;
}

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after {
 left: 2.55em;
 top: .4em;
 line-height: .1em;
 transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked + label::after {
 height: .16em;
 top: .55em;
 left: 2.6em;
 font-size: .6em;
 line-height: 0;
}
