@font-face {
  font-family: Madimi;
  src: url("../fonts/MadimiOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Madimi;
  text-transform: uppercase;
  cursor: default;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #31363F;
}

*::-webkit-scrollbar-track:hover {
  background-color: #31363F;
}

*::-webkit-scrollbar-track:active {
  background-color: #31363F;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #76ABAE;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #60888a;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #60888A;
}

.songPlaying {
  color: #76ABAE;
}

.clearBtn {
  background-color: transparent;
  border: none;
}

#API_KEY {
  display: none;
}

body {
  height: 100vh;
  background-color: #222831;
  padding: 10px;
  overflow: hidden;
}

.importSongsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectSongsBtn {
  color: #EEEEEE;
  font-size: 32px;
  cursor: pointer;
  transition: .2s;
}

.selectSongsBtn:hover {
  color: #76ABAE;
}

#audioList {
  position: absolute;
  top: -999px;
  left: -999px;
  visibility: hidden;
}

#playlist {
  border: 1px solid #31363F;
  overflow-y: scroll;
  height: 500px;
  margin: 5px 0;
  padding: 3px;
  border-radius: 3px;
  color: #EEEEEE;
}

#currentSongPlayingContainer {
  display: none;
  overflow: hidden;
  text-align: center;
}

#currentSongPlaying {
  color: #EEEEEE;
  margin-bottom: 5px;
  white-space: nowrap;
  display: inline-block;
}

.scroll {
  animation: scroll infinite 10s linear;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

#currentSongPlaying span, .versePlayling {
  color: #76ABAE;
}

.controls {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.controlBtn {
  cursor: pointer;
  color: #EEEEEE;
  display: flex;
  transition: .2s;
}

.controlBtn img {
  cursor: pointer;
}

.controlBtn:hover {
  opacity: .7;
}

#progressBar {
  width: 100%;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #EEEEEE;
}

.song {
  cursor: pointer;
  transition: .2s;
}

.song:hover {
  opacity: .7;
}

.lyric {
  text-align: center;
  display: none;
}
